@import '~bootstrap/scss/bootstrap';
@import 'partials/posts_index.scss';
@import 'partials/users_show.scss';


.a-reset {
    &:hover {
        text-decoration: none;
    }
}

.hover-translate-up {
    transition: transform 0.5s;

    &:hover {
        transform: translateY(-10px);
    }
}

.transition-invisible {
    opacity: 0;
    animation: invisible 4s;
    z-index: 1031; /*colpa di bootstrap!!!*/
}

@keyframes invisible {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
